<p><%= @inviter.name.presence || @inviter.email %>さんが、営業太郎 のワークスペース「<%= @workspace.name %>」への参加を招待しています。</p>

<p>以下のリンクから招待を受諾してください:</p>

<p><%= link_to @accept_url, @accept_url %></p>

<p>このメールに心当たりがない場合は破棄してください。</p>
